caption
{
margin: auto;
font-family: Arial, Times, "Times New Roman", serif;
font-weight: bold;
font-size: 1.2em;
color: #EFF3FF;
margin-bottom: 20px;
}
table
{
margin: auto;
border: 4px outset #EFF3FF;
border-collapse: collapse;
width: 100%;
}
th
{
background-color: #EFF3FF;
color: black;
font-size: 1em;
font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
border: 1px
}
td
{
border: 1px solid black;
font-family: "Trebuchet MS", "Times", serif;
font-size: 1em;
text-align: center;
padding: 5px;
}
.today
{
background-color: #CDF0F0;
}